body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.lamp {
    width: 40px;
    rotate: 180deg;
    position: absolute;
    top: -5%;
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 8%;
    height: 70px;
    transition: height 0.5s ease-out;
}

.document-icon {
    width: 30px;
    filter: invert(1) contrast(1) hue-rotate(420deg);
    ;
}

.earth-icon:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.navigation-bar.shrunk {
    height: 35px;
}

.lamp.shrunk {
    top: -25%;
}

.navigation-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    align-items: center;
}

.navigation-bar ul li a {
    color: #f4f4f4;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.navigation-bar ul li a:hover {
    color: #ffdd92;
    /* Hover effect */
}

.button-get-started-text {
    color: black;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.5px;
}

.button-get-started {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid #ffdd92;
    background: #ffdd92;
    text-decoration: none;
}

.button-get-started:hover {
    background-color: #76684a;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffdd92;
}

@media screen and (max-width: 1220px) {
    .navigation-bar {
        flex-wrap: wrap;
        position: relative;
        padding: 10px 8%;
    }

    .navigation-bar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: black;
        padding: 15px 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .navigation-bar ul.active {
        display: flex;
    }

    .navigation-bar ul li {
        text-align: center;
        padding: 10px 0;
    }

    .button-get-started,
    .earth-icon {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

@media screen and (max-width: 390px) {
    .navigation-bar ul {
        gap: 25px;
    }
}

.ourProduct {
    width: 84%;
    display: flex;
    gap: 100px;
    flex-direction: column;
    padding: 130px 8%;
    align-items: flex-start;
    overflow: hidden;
    background: linear-gradient(to bottom, #060625, #484c64);
    position: relative;
}

.ourProductTextContainer {
    width: 100%;
    z-index: 111;
}

.ourProductTextContainer-header {
    font-size: clamp(25px, 4vw, 61px);
    color: #ffdd92;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.slide-show {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    color: #486284;
}

.slide-1 {
    display: flex;
    flex-direction: column;
    background-color: #ffdd92;
    height: 350px;
    width: 350px;
    transform: translateX(200px);
    transition: transform 1.5s ease-in-out;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.slide-1.visible {
    opacity: 1;
    transform: translateX(0);
}

.slide-1 img:hover {
    transform: scale(1.2);
    transition: 0.5s ease;
    cursor: pointer;
}

.slide-1 div {
    font-weight: 500;
}



@media screen and (max-width: 1450px) {

    .slide-show {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 650px) {
    .ourProduct {
        gap: 30px;
    }

    .slide-1 {
        width: 250px;
        height: 250px;
        transform: translateY(200px);
        transition: transform 1s ease-in-out;
    }

    .slide-1 div {
        font-size: 12px;
    }

}


.holding-cat-container {
    width: 100%;
    aspect-ratio: 16/7;
    align-self: stretch;
    position: relative;
    background-color: #060625;
}

.borderline{
    position: absolute;
    width: 72%;
    right: 0;
    top: 0;
    height: 2px;
    border: 2px solid #ffdd92;
    background: #ffdd92;
    border-radius: 30px;
}

.background-holding-cat {
    background: url("images\\1-c95db060.jpg") center / cover no-repeat;
    background-size: 115%;
    width: 100%;
    height: 105%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.42;
}

.line-cat {
    width: 75%;
    height: 114%;
    flex-shrink: 0;
    padding-top: 4%;
}

.holding-cat-icon {
    position: absolute;
    bottom: 5%;
    left: 2%;
    height: 10%;
}

.footer {
    height: 256px;
    width: 100%;
    /* background-color: rgb(46, 46, 46); */
    background-color: #ffdd92;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-inside-frame {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-nav-bar {
    display: flex;
    width: 86%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0 7%;
}

.footer-nav-bar a {
    color: black;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.5px;
    text-decoration: none;
}

.footer-nav-bar a:hover {
    color: red;
}

.social-media-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.email-logo:hover svg path {
    fill: #31BACE;
}

.whatsapp-logo:hover svg path{
    fill: rgb(116, 217, 116);
}
.linkedin-logo:hover svg path{
    fill: rgb(0, 86, 216)
}

.footer-note {
    align-self: stretch;
    color: rgb(37, 37, 37);
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 1050px) {
    .footer-nav-bar {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer {
        height: 300px;
    }
}

@media screen and (max-width: 500px) {
    .footer-nav-bar {
        gap: 20px;
    }

    .footer-nav-bar a {
        font-size: 13px;
    }
}