body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.lamp {
    width: 40px;
    rotate: 180deg;
    position: absolute;
    top: -5%;
}

.lamp.shrunk {
    top: -35%;
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 8%;
    height: 70px;
    transition: height 0.5s ease-out;
}

.document-icon {
    width: 30px;
    filter: invert(1) contrast(1) hue-rotate(420deg);
    ;
}

.earth-icon:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.navigation-bar.shrunk {
    height: 35px;
}

.navigation-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    align-items: center;
}

.navigation-bar ul li a {
    color: #f4f4f4;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.navigation-bar ul li a:hover {
    color: #ddd;
    /* Hover effect */
}

.button-get-started-text {
    color: black;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.5px;
}

.button-get-started {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #ffdd92;
    background: #ffdd92;
    text-decoration: none;
}

.button-get-started:hover {
    background-color: #76684a;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffdd92;
}

@media screen and (max-width: 1220px) {
    .navigation-bar {
        flex-wrap: wrap;
        position: relative;
        padding: 10px 8%;
    }

    .navigation-bar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: black;
        padding: 15px 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .navigation-bar ul.active {
        display: flex;
    }

    .navigation-bar ul li {
        text-align: center;
        padding: 10px 0;
    }

    .button-get-started,
    .earth-icon,
    .lamp {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

@media screen and (max-width: 390px) {
    .navigation-bar ul {
        gap: 25px;
    }
}

.journey-container {
    display: flex;
    width: 84%;
    padding: 130px 8%;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    background-color: #020D0E;
    position: relative;
    /* background: url("images\\wall-2.jpg") center / cover no-repeat; */
}

.img-earth {
    position: absolute;
    top: 0px;
    right: -40%;
}


.journeys {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 80px;
}

.journey-text {
    color: #ffdd92;
    font-family: Poppins;
    font-size: clamp(25px, 4vw, 61px);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    position: relative;
}



.container-year {
    display: flex;
    align-items: flex-start;
    width: 80%;
    gap: 50px;
    height: 250px;
}

.text-year-container {
    width: 55%;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s ease, opacity 0.5s ease;
}

.container-year-img-container {
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s ease, opacity 0.5s ease;
}

.text-year-container.visible,
.container-year-img-container.visible {
    opacity: 1;
    transform: translateY(0);
}

.journey-bulb {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    z-index: 1;
}

.twined-wires {
    filter: brightness(0%);
    padding-left: 5px;
    margin: -45px 0;
}

.text-year {
    color: #E6E6E6;
    font-family: Poppins;
    font-size: clamp(25px, 4vw, 61px);
    font-style: normal;
    font-weight: 700;
}

.pHealth-launch-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.pHealth-launch-text-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pHealth-launch-text {
    color: #76684a;
    font-family: Poppins;
    font-size: clamp(23px, 4vw, 47px);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.pHealth-launch-description {
    color: wheat;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.pHealth-launch-description ul {
    padding-left: 25px;
    margin: 0;
}

#img2025 {
    width: 200px;
}

@media screen and (max-width: 1070px) {
    #img2025 {
        width: 180px;
    }

    .pHealth-launch-description {
        font-size: 13px;
    }

    .container-year {
        gap: 20px;
    }

    .img-earth {
        right: -80%;
    }

    .journey-bulb img {
        width: 30px;
    }
}

@media screen and (max-width: 750px) {
    .container-year {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .text-year-container {
        width: 130px;
    }

    .text-year {
        width: 200px;
    }

    .pHealth-launch-text {
        width: 350px;
    }

    #img2025 {
        padding: 80px 0 0 10px;
        clip-path: polygon(0 0,
                /* Top-left corner */
                20% 0,
                /* Cut off triangle */
                0 20%,
                /* Cut off triangle */
                40% 100%,
                /* Bottom-left corner */
                100% 100%,
                /* Bottom-right corner */
                100% 20%,
                /* Cut off triangle */
                80% 0,
                /* Cut off triangle */
                100% 0
                /* Top-right corner */
            );
    }

    .container-year {
        gap: 10px;
    }

    .journey-container {
        padding-left: 0;
        width: 92%;
    }

    .journey-text {
        padding-left: 8%;
    }
}


.footer {
    height: 256px;
    width: 100%;
    /* background-color: rgb(46, 46, 46); */
    background-color: #ffdd92;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-inside-frame {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-nav-bar {
    display: flex;
    width: 86%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0 7%;
}

.footer-nav-bar a {
    color: black;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.5px;
    text-decoration: none;
}

.footer-nav-bar a:hover {
    color: red;
}

.social-media-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.email-logo:hover svg path {
    fill: #31BACE;
}

.whatsapp-logo:hover svg path {
    fill: rgb(116, 217, 116);
}

.linkedin-logo:hover svg path {
    fill: rgb(0, 86, 216)
}

.footer-note {
    align-self: stretch;
    color: rgb(37, 37, 37);
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 1050px) {
    .footer-nav-bar {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer {
        height: 300px;
    }
}

@media screen and (max-width: 500px) {
    .footer-nav-bar {
        gap: 20px;
    }

    .footer-nav-bar a {
        font-size: 13px;
    }
}